{% macro header() %}
<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            {{ logo::logo() }}
        </div>
        <div class="menu-trigger">menu</div>

        {% if config.extra.ddg_search %}
        {{ search::button() }}
        {% endif %}

        {% if config.extra.theme_switcher %}
        {{ theme_switcher::button() }}
        {% endif %}
    </div>
    {# Check if there are menu items to render, yes if > 0 #}
    {%- set num = config.extra.main_menu | length -%}
    {% if num > 0 -%}
        {{ menu::menu() }}
    {% endif -%}

    {% if config.extra.ddg_search %}
    {{ search::popover() }}
    {% endif %}
</header>
{% endmacro header %}
