{% macro list_pages() %}
<div class="posts">
    {%- for page in paginator.pages -%}

    <div class="post on-list">
        <h1 class="post-title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>

        {{ posts::meta(page=page, author=config.extra.show_author) }}

        {% if config.extra.show_covers_in_lists %}
        {% if page.extra.cover_image %}
        {% if page.extra.cover_image is matching("[.](jpg|jpeg|png|gif)$") %}
        {% set parent_dir_rel_path = posts::parent_dir_rel_path(rel_path=page.relative_path) | trim %}
        {% set imgpath = parent_dir_rel_path ~ "/" ~ page.extra.cover_image %}
	{% set img300 = resize_image(path=imgpath, op='fill', width=300, height=150) %} 
	{% set img600 = resize_image(path=imgpath, op='fill', width=600, height=300) %} 
	{% set img900 = resize_image(path=imgpath, op='fill', width=900, height=450) %} 
	{% set img1200 = resize_image(path=imgpath, op='fill', width=1200, height=600) %} 

        <a href="{{ page.permalink }}">
        <img
        alt="{{ page.title | striptags }}"
        class="post-cover
              {% if page.extra.cover_classes %}
              {{ page.extra.cover_classes | join(sep=' ') }}
              {% endif %}"
        srcset="{{ img300.url | safe }} 300w,
                {{ img600.url | safe }} 600w,
                {{ img900.url | safe }} 900w,
                {{ img1200.url | safe }} 1200w,"
        sizes="(max-width: 800px) 90vw,
                1200px"
        />
        </a>
        {% endif %}{# matching #}
        {% endif %}{# cover_image #}
        {% endif %}{# show_covers_in_lists #}

        {% set show_read_more_btn = true %}

        <div class="post-content">
            {%  if page.description -%}
            {{ page.description }}
            {% elif page.summary %}
            {{ page.summary | striptags }}
            {% else %}
            {% set show_read_more_btn = false %}
            {%  endif -%}
        </div>

        {% if show_read_more_btn %}
        <div>
          <a class="read-more button" href="{{ page.permalink }}">{{ config.extra.read_more }} →</a>
        </div>
        {% else %}
        <div>
          <a class="read-more button" href="{{ page.permalink }}">{{ config.extra.read_post }} →</a>
        </div>
        {% endif -%}
    </div>
    {# End of pagination for-loop #}
    {%- endfor -%}
    {#- I don't put pagination here like Terminal does. I don't like how
    the buttons move with the size of post entries in the content div. -#}
</div>
{% endmacro list_pages %}
