{% macro paginate(page) %}
{% if config.extra.post_view_navigation and page.earlier or page.later %}
<div class="pagination">
  <div class="pagination__title">
    {% if config.extra.post_view_navigation_prompt %}
    <span class="pagination__title-h">{{ config.extra.post_view_navigation_prompt }}</span>
    {% else %}
    <span class="pagination__title-h">read other posts</span>
    {% endif %}
    <hr />
  </div>

  <div class="pagination__buttons">
    {% if page.later %}
    <span class="button previous">
      <a href="{{ page.later.permalink | safe }}">
        <span class="button__icon">←</span>
        <span class="button__text">{{ page.later.title }}</span>
      </a>
    </span>
    {% endif %}
    {% if page.earlier %}
    <span class="button previous">
      <a href="{{ page.earlier.permalink | safe }}">
        <span class="button__icon">→</span>
        <span class="button__text">{{ page.earlier.title }}</span>
      </a>
    </span>
    {% endif %}

  </div><!-- pagination buttons -->
</div> <!-- pagination -->
{% endif %}
{% endmacro paginate %}
