{% macro button() %}
<div class="menu-trigger search">
  <input id="search" type="search" class="input-large search-query search-box">
  <span class="menu-icon search-button">
  <svg aria-hidden="true" focusable="false" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
  </svg>
  </span>
</div>
{% endmacro button %}

{# Search for DDG documentation if you need other params #}
{# https://duckduckgo.com/params #}
{% macro ddg_form() %}
<form class="ddg" name="x" action="//duckduckgo.com/">
  <!-- Target website -->
  {% if config.extra.ddg_website %}
  <input type="hidden" name="sites" value="{{ config.extra.ddg_website }}">
  {% else %}
  <input type="hidden" value="{{ config.base_url }}" name="sites"></input>
  {% endif %}
  <!-- Language -->
  {% if config.extra.ddg_lang %}
  <input type="hidden" value="{{ config.extra.ddg_lang }}" name="kl"></input><!-- Result lang -->
  {% endif %}
  <!-- Color settings -->
  {% if config.extra.ddg_color_background %}
  <input type="hidden" name="k7" value="{{ config.extra.ddg_color_background }}"/><!-- Background color -->
  {% endif %}
  {% if config.extra.ddg_color_header %}
  <input type="hidden" name="kj" value="{{ config.extra.ddg_color_header }}"/><!-- Header color -->
  {% endif %}
  {% if config.extra.ddg_color_urls %}
  <input type="hidden" name="kx" value="{{ config.extra.ddg_color_urls }}"/><!-- URLS color -->
  {% endif %}
  {% if config.extra.ddg_color_text %}
  <input type="hidden" name="k8" value="{{ config.extra.ddg_color_text }}"/><!-- Text color -->
  {% endif %}
  {% if config.extra.ddg_color_links %}
  <input type="hidden" name="k9" value="{{ config.extra.ddg_color_links }}"/><!-- Links color -->
  {% endif %}
  {% if config.extra.ddg_color_visited %}
  <input type="hidden" name="kaa" value="{{ config.extra.ddg_color_visited }}"/><!-- Visited links color -->
  {% endif %}

  {% if config.extra.ddg_text_size %}
  <input type="hidden" name="ks" value="{{ config.extra.ddg_text_size }}"/><!-- Visited links color -->
  {% endif %}

  <input type="hidden" value="1" name="kh"></input><!-- HTTPS On -->
  <input type="hidden" value="1" name="kn"></input><!-- New Window -->
  <input type="hidden" value="1" name="kac"></input><!-- Auto-suggest -->
  <input type="hidden" value="-1" name="kf"></input><!-- Favicons -->

  <input type="search" placeholder="Search" name="q" maxlenght="300"></input>
  {% if config.extra.ddg_button %}
  <button class="button" type="submit">Go</button>
  {% endif %}
</form>

<div><div class="search-comment">Powered by DuckDuckGo</div></div>
{% endmacro ddg_form %}

{% macro form() %}
<form class="form-search">
  <input id="search" type="text" class="input-large search-query">
</form>
{% endmacro form %}

{% macro results() %}
<div class="search-results__not-found" style="text-align: center">
  <div>
    {%- if config.extra.not_found_message -%}
    {{ config.extra.not_found_message }}
    {%- else -%}
    0 results with this keywords.
    {%- endif -%}
  </div>
</div>
<div class="search-results">
  <div class="search-results__items"></div>
</div>
<p></p>
{% endmacro results %}

{% macro popover() %}
<div class="header__search">
  <div class="search-container search-popover hidden">
    {% if config.build_search_index %}
    {{ search::results() }}
    {% elif config.extra.ddg_search %}
    {{ search::ddg_form() }}
    {% endif %}
  </div>
</div>
{% endmacro popover %}

{% macro script() %}
<script type="text/javascript">
!function () {
  function t() {
    search_button && search_button.classList.toggle('hidden'),
    search_popover && search_popover.classList.toggle('hidden'),
    c && c.classList.toggle('hidden'),
    search_bar && search_bar.classList.toggle('open'),
    search_box.focus();
  }
  var n = document.querySelector('.container'),
  search_popover = document.querySelector('.search-popover'),
  search_bar = document.querySelector('.search'),
  search_box = document.querySelector('.search-box'),
  search_button = document.querySelector('.search-button'),
  c = document.querySelector('.menu__sub-inner-more');

  search_popover && search_popover.addEventListener('click', function (e) {
    return e.stopPropagation()
  }),
  document.body.addEventListener('click', function () {
    !c || c.classList.contains('hidden') ? !search_popover.classList.contains('hidden') && search_popover.classList.add('hidden') : c.classList.add('hidden'), search_bar.classList.remove('open')
  }),
  search_bar && search_bar.addEventListener('click', function (e) {
    return e.stopPropagation()
  }),
  search_button && search_button.addEventListener('click', function (e) {
    e.stopPropagation(),
    t()
  })
}();

</script>

{% if config.build_search_index %}
<script src="{{ get_url(path='assets/js/search.js', trailing_slash=false) | safe }}"></script>
<script defer src="{{ get_url(path='elasticlunr.min.js', trailing_slash=false) | safe }}"></script>
{%- if config.default_language and config.default_language != "en" -%}
{%- set search_index_file = "search_index." ~ config.default_language ~ ".js" %}
{%- set lunr_lang_file = "assets/js/lunr-languages/lunr." ~ config.default_language ~ ".min.js" -%}
<script defer src="{{ get_url(path='assets/js/lunr-languages/lunr.stemmer.support.min.js', trailing_slash=false) | safe }}"></script>
<script defer src="{{ get_url(path=lunr_lang_file, trailing_slash=false) | safe }}"></script>
<script defer src="{{ get_url(path=search_index_file, trailing_slash=false) | safe }}"></script>
{%- else -%}
<script defer src="{{ get_url(path='search_index.en.js', trailing_slash=false) | safe }}"></script>
{%- endif -%}
{% endif %}
{% endmacro script %}
