{% import "macros/pagination_page.html" as pagination_page -%}
{% import "macros/head.html" as head -%}
{% import "macros/utils.html" as utils -%}
{% extends "index.html" -%}

{%- block math -%}
  {% if page.extra.math %}
  {{ head::katex() }}
  {% endif %}
{%- endblock math -%}

{%- block title %}
    <title>{{ page.title }} - {{  config.extra.author }}</title>
    {# TODO: make some kind of social media linking, i guess? #}
    {#%- include "snippets/social.html" %#}
{%- endblock title -%}

{%- block main -%}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ page.permalink  }}">{{ page.title }}</a>
        </h1>
        {{ posts::meta(page=page, author=config.extra.show_author) }}

        {% if page.extra.cover_image %}
        <figure>
        {{ posts::cover(page=page, image=page.extra.cover_image) }}
        {% if page.extra.cover_caption %}
        <figcaption class="center">{{ page.extra.cover_caption }}</figcaption>
        {% endif %}
        </figure>
        {% endif %}


        <div class="post-content">
            {{ page.content | safe }}
        </div>

        {%- block after_page -%}
        {# TODO: Decide if any sort of commenting functionality is desired? #}
        {#%- include "snippets/comments.html"  -%#}

        {% if config.extra.support_us %}
        <div class="support_us">
          <div class="pagination__title">
            <span class="pagination__title-h">{{ config.extra.support_us }}</span>
            <hr />
          </div>

          <div class="support_us__content">
            {%- block support_us_content -%}
            {% include "snippets/support_us.html" %}
            {%- endblock support_us_content -%}
          </div><!-- Support us content -->
        </div>
        {% endif %}

        {% if config.extra.url_to_clipboard %}
        <div class="pagination__title">
          <span class="pagination__title-h">{{ config.extra.url_to_clipboard }}</span>
          <hr />
        </div>

        <div class="url_to_clipboard">
          {{ utils::url_to_clipboard() }}
        </div>
        {% endif %}

        {% if config.extra.follow_me %}
        <div class="pagination__title">
          <span class="pagination__title-h">{{ config.extra.follow_me }}</span>
          <hr />
        </div>

        <div class="follow_me">
            {%- block follow_me_content -%}
            {% include "snippets/follow_me.html" %}
            {%- endblock follow_me_content -%}
        </div>
        {% endif %}

	{% if config.extra.newsletter %}
	<div class="support_us__content">
	    {%- block newsletter -%}
	    {% include "snippets/newsletter.html" %}
	    {%- endblock newsletter -%}
	</div><!-- newsletter -->
	{% endif %}
        {%- endblock after_page -%}
</div>
{%- endblock main -%}

{%- block pagination -%}
  {{ pagination_page::paginate() }}
{%- endblock pagination -%}
