{% import "macros/head.html" as head -%}
{% import "macros/utils.html" as utils -%}
{% extends "index.html" -%}

{%- block math -%}
  {% if page.extra.math %}
  {{ head::katex() }}
  {% endif %}
{%- endblock math -%}

{%- block title %}
    <title>{{ page.title }} - {{  config.extra.author }}</title>
    {# TODO: make some kind of social media linking, i guess? #}
    {#%- include "snippets/social.html" %#}
{%- endblock title -%}

{%- block main -%}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ page.permalink  }}">{{ page.title }}</a>
        </h1>
        {{ posts::meta(page=page, author=config.extra.show_author) }}


        {#- Skipping logic for cover as was in original Terminal theme -#}

        <div class="post-content">
            {{ page.content | safe }}
        </div>

        {%- block after_page -%}
        <hr/>
        {# TODO: Decide if any sort of commenting functionality is desired? #}
        {#%- include "snippets/comments.html"  -%#}

        {% if config.extra.url_to_clipboard %}
        <div class="url_to_clipboard">
          <div> {{ config.extra.url_to_clipboard }} </div>
          {{ utils::url_to_clipboard() }}
        </div>
        {% endif %}
        {%- endblock after_page -%}
</div>
{%- endblock main -%}
